*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
/database/dusk.sqlite
/config/calendar.local.php
/lang/de/booking/local.php
/lang/en/booking/local.php
/lang/de/booking/quote_groups.php
/lang/de/booking/quotes.local.php
/lang/en/booking/quotes.local.php
